/* ldsldgisşgls 

h1, h2, h3, h4, h5, h6 {color: #a03838;}

h1 {font-size: 30px; color:#a03838 ;}

p {font-size: 20px;}

#first-article {font-size: 40px;}

/* # bu işaret htmlde id'ye karşılık geliyor */

/* . ise html de class kısmına denk geliyor 

.text-red {color: red;}

.fs-small {font-size: 14px;}

.fs-medium {font-size: 20px;}

.fs-large {font-size: 30px;}
 */






 
